@font-face {
    font-family: 'Amazon Ember Light';
    src: url('assets/AmazonEmber_Lt.ttf');
}

@font-face {
    font-family: 'Amazon Ember';
    src: url('assets/AmazonEmber_Rg.ttf');
}

/*Single tag/class related css*/

body {
    margin:0;
    padding:0;
    font-family: 'Amazon Ember Light';
}

ul {
    list-style: none;
    text-align: left;
    border-radius: 4px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 40px;
    margin: 0px;
    font-family: 'Amazon Ember';
    font-weight: lighter;
}

h2 {
    font-size: 36px;
    font-family: 'Amazon Ember';
    font-weight: lighter;   
}

.biggerP {
    font-size: 21px;
}

.smallerP{
    font-size: 15px;
}

.button{
    color: white;
    background-color: #0F79AF;
    padding: 8px 19px 7px;
    border-radius: 2px;
    font-family: 'Amazon Ember';
    font-size: 17px;

}
/*-----Navbar related css-----*/

nav {
    position: fixed;
    top:0;
    min-height:72px;
    min-width: 100%;
    background-color: #1a232e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.top-logo{
    max-width: 112px;
    padding: 0 10px 0 30px;
}

.nav-left a,
.nav-right a,
nav .button{
    font-family: 'Amazon Ember';
    color:white;
    font-size: 17px;
    opacity: 80%;
}

nav span,
li span{
    color: white;
    cursor:pointer;
    opacity: 85%;
    font-family: 'Amazon Ember Light';
}

.menu-hover span:hover,
li span:hover{
    opacity:100%;
}

.nav-left{
    min-width: 460px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu-hover span{
    padding: 15px 0;
}

.nav-right{
    padding-right: 50px;
    min-width: 330px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-right > .button{
    background-color: #1399DE;
    padding: 8px 19px 7px;
    border-radius: 3px;
    transition: 0.3s;
}

.nav-right > .button:hover {
    background-color:#18b2ff;
}

.nav-right img {
    max-width: 20px;
    opacity: 80%;
}

.arrow {
    position: absolute;
    top: 32px;
    padding-left: 5px;
}

#arrow-far{
    padding-left: 15px;
}

.nav-right>.menu-hover::before{
    background-image: url("assets/Globe.png");
    background-size: 20px 20px;
    display: inline-block;
    width: 20px; 
    height: 20px;
    content:" ";
    padding-right: 5px;
    background-repeat: no-repeat;
    filter: invert(100%);
}

.profile{
    min-width: 30px;
    filter:invert(100%);
    padding-left:10px;
    transition: 0.9s;
}


/*-----Hidden menus related css-----*/

.hidden-menu {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    background-color: #202b38;
    top: 40px;
    left: 365px;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
    cursor: pointer;
}

.hidden-menu li{
    position: relative;
    width: 100%;
    left: -40px;
    padding: 14px 24px 14px 16px;
    border-bottom: 1px solid #2f3f52;
}

.hidden-menu li:last-of-type{
    border-bottom:none;
}

.menu-hover:hover
.hidden-menu{
    visibility: visible;
}


/*-----Main related css-----*/

.initial{
    height: 95vh;
    background-image:url('assets/initialTitleGrid.jpg');
    background-size: cover;
    margin-top: 70px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.landing{
    color: white;
    width: 41%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 60px;
}

div .landing:first-of-type{
    box-shadow: -20px 0px 170px 20px rgba(0,0,0,1);
}

.whiteline{
    position:relative;
    bottom:3px;
    display:inline-block;
    height: 1px;
    width: 121px;
    background-color: white;
}

.blackline{
    position:relative;
    bottom:3px;
    display:inline-block;
    height: 1px;
    width: 10px;
    background-color: black;
}

.-o- {
    position: relative;
    bottom: 10px;
}

.landing .button{
    padding: 15px 20px;
    width: 240px;
    text-align: center;
}

.landing .button:first-of-type{
    margin: 30px 0 25px 0;
}

.landing .button:last-of-type{
    margin: 7px 0 25px 0;
}

.landing a:last-child{
    color:#2F99C6;
}

.channels {
    background-color: white;
    min-height: 70vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.chan-description{
    width: 41%;
    margin-top: -80px;
}

.channels h1,
.channels p{
    color: black;
}

.mosaic{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    width: 40%;
    padding-right: 60px;
}

.mosaic img{
    max-width:175px;
}

.mosaic img:hover{
    box-shadow: 10px 10px 15px 0px rgba(84,84,84,1);
}

.buy-movies{
    color:white;
    background-image: linear-gradient(to right, #000 40%, transparent 58%), url('https://m.media-amazon.com/images/G/02/digital/video/TVOD/2020/FireTV/TVOD_Launch_Multi_IT_MLP_BG_left_1440x675.jpg');
    min-height: 73vh;
    background-size: cover;
}

.buy-movies div,
.download div,
.prime div{
    width: 40%;
    padding: 60px;
}

.buy-movies .button{
    position: relative;
    padding: 18px 48px;
    top: 50px;
}

.download{
    color:white;
    background-image: linear-gradient(to right, #000 40%, transparent 58%), url('assets/download.jpg');
    height: 73vh;
    background-size: cover;
}


.download div a,
.prime div a {
    display: inline-block;
    margin: 40px 0 8px 0;
    padding: 15px 20px;
}

.features {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feat-container{
    max-width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.feature-card{
    max-width: 32%;
    text-align: center;

}

.feature-card p,
.feature-card h1{
    margin-top: -20px;
}

.prime {
background-image: url(assets/JetpackJoe.jpg);
background-position: top-right;
background-size: cover;
max-height: 85vh;
background-color: #b2e5f6;
}

footer{
    min-height: 20vh;
    background-color: #222222;
    text-align: center;
}

footer div{
    color: rgb(160, 160, 160);
    position: relative;
    left:20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width:60%;
}

footer img{
    margin-top: 20px;
}

footer div a{
    color:#2F99C6;
}